[Unit]
Description=ChromeOS Release Notifier
After=network.target

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=%h/.cargo/bin/crosreleasenotifier -d -f notification

[Install]
WantedBy=default.target
